*.iml
.gradle
.gradle-local
*.apk
*.zip
*.jar
/local.properties
/.idea
.DS_Store
/build
app/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
ENV/
env/
.pytest_cache/
*.jks
*.keystore
